<div class="steps order-2 position-relative w-25">
            <div class="multisteps-form__progress">
                <span class="multisteps-form__progress-btn js-active" title="Application data"><i class="far fa-user"></i><span>Personal information</span></span>
                <span class="multisteps-form__progress-btn" title="Tax residency"><i class="far fa-user"></i><span>Select Department</span></span>
                <span class="multisteps-form__progress-btn" title="Indentity documents"><i class="far fa-user"></i><span>File Upload</span></span>
                <span class="multisteps-form__progress-btn" title="Investability"><i class="far fa-user"></i><span>Choose a payment</span></span>
                <span class="multisteps-form__progress-btn" title="Review"><i class="far fa-user"></i><span>Review </span></span>
            </div>
        </div>