 <!-- This code is use for color chooser, you can delete -->
<div id="switch-color" class="color-switcher">
    <div class="open"><i class="fas fa-cog"></i></div>
    <h4>COLOR OPTION</h4>
    <ul>
        <li><a class="color-2" onclick="setActiveStyleSheet('color-2'); return false;" href="#"><i class="fas fa-cog"></i></a> </li>
        <li><a class="color-3" onclick="setActiveStyleSheet('color-3'); return false;" href="#"><i class="fas fa-cog"></i></a> </li>
        <li><a class="color-4" onclick="setActiveStyleSheet('color-4'); return false;" href="#"><i class="fas fa-cog"></i></a> </li>
        <li><a class="color-5" onclick="setActiveStyleSheet('color-5'); return false;" href="#"><i class="fas fa-cog"></i></a> </li>
    </ul>
</div>
<div class="clearfix"></div>