<!doctype html>
<html lang="en">
{% include './follow_up_files/head_followup.html' %}
 </head>

    <body data-topbar="dark">
     <!-- Begin page -->
        <div id="layout-wrapper">
        {% include './home_student_files/header.html' %}
        {% include './home_commitee/left_sidebar.html' %}
        {% include './follow_up_committee/follow_up_details.html' %}
        </div>
        {% include './home_student_files/right_sidebar.html' %}
       {% include './follow_up_files/js_follow_up.html' %}
    </div>
</html>