<!doctype html>
<html lang="en">

{% include './home_student_files/head.html' %}

 </head>

    <body data-topbar="dark">
     <!-- Begin page -->
        <div id="layout-wrapper">
        {% include './home_student_files/header.html' %}
        {% include './home_student_files/left_sidebar.html' %}
           <!-- ============================================================== -->
            <div class="main-content">

        {% include './previous_complains/page_content.html' %}
        </div>
        </div>
        {% include './home_student_files/right_sidebar.html' %}
        {% include './home_student_files/js.html' %}
    </div>
</html>
