{% load static %}
<!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" data-key="t-menu">Menu</li>

                            <li>
                                <a href="{% url 'mainapp:committee' %}">
                                    <i data-feather="home"></i>
                                    <span class="badge rounded-pill bg-soft-success text-success float-end"></span>
                                    <span data-key="t-dashboard">Dashboard</span>
                                </a>
                            </li>

                       
                            <li>
                                <a href="{% url 'mainapp:all_complains' %}" class="has-arrow">
                                    <i data-feather="users"></i>
                                    <span data-key="t-ecommerce">All Complain</span>
                                </a>
                             
                            </li>

                            <li>
                                <a href="{% url 'mainapp:reviewed_complaints' %}">
                                    <i data-feather="users"></i>
                                    <span data-key="t-chat">Reviewed Complains</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url  'mainapp:follow_ups_committee' %}" class="has-arrow">
                                    <i data-feather="mail"></i>
                                    <span data-key="t-email">Follow Ups</span>
                                </a>
                                
                            </li>

                         
                     
                        </ul>

                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
