{% load static %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Inbox</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                                            <li class="breadcrumb-item active">Inbox</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                        <div class="row">
                            <div class="col-12">
                                <!-- Left sidebar -->
                                <div class="email-leftbar card">
                                    <button type="button" class="btn btn-danger w-100 waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#composemodal">
                                        Compose
                                    </button>
                                    <div class="mail-list mt-4">
                                        <a href="#" class="active"><i class="mdi mdi-email-outline me-2"></i> Inbox <span class="ms-1 float-end">(18)</span></a>
                                        
                                      
                                    </div>
        
                                  
        
                                </div>
                                <!-- End Left sidebar -->
        
        
                                <!-- Right Sidebar -->
                                <div class="email-rightbar mb-3">
                                    
                                    <div class="card">
                                       
                                        <ul class="message-list">
                                        {% if follow_up %}
                                        {% for d in follow_up %}
                                            <li>
                                                <div class="col-mail col-mail-1">
                                                    <div class="checkbox-wrapper-mail">
                                                        <input type="checkbox" id="chk19">
                                                        <label for="chk19" class="toggle"></label>
                                                    </div>
                                                    <a href="{{d.email_details_committee}}" class="title">{{d.user_id.email}}</a><span class="star-toggle far fa-star"></span>
                                                </div>
                                                <div class="col-mail col-mail-2">
                                                    <a href="{{d.email_details_committee}}" class="subject">Hello – <span class="teaser">{{d.subject}}</span>
                                                    </a>
                                                    <div class="date">{{d.created_at.day}}/{{d.created_at.month}}/{{d.created_at.year}}</div>
                                                </div>
                                            </li>

                                        {% endfor %}

                                        {% endif %}


                                           {% if flow %}
                                        {% for f in flow %}
                                            <li>
                                                <div class="col-mail col-mail-1">
                                                    <div class="checkbox-wrapper-mail">
                                                        <input type="checkbox" id="chk19">
                                                        <label for="chk19" class="toggle"></label>
                                                    </div>
                                                    <a href="{{f.email_details_committee}}" class="title">{{f.user_id.email}}</a><span class="star-toggle far fa-star"></span>
                                                </div>
                                                <div class="col-mail col-mail-2">
                                                    <a href="{{f.email_details_committee}}" class="subject">Hello – <span class="teaser">{{f.subject}}</span>
                                                    </a>
                                                    <div class="date">{{f.created_at.day}}/{{f.created_at.month}}/{{f.created_at.year}}</div>
                                                </div>
                                            </li>

                                        {% endfor %}

                                        {% endif %}
                
                                      
                
                                      
                                        </ul>
        
                                    </div> <!-- card -->
        
                                    
                                </div> <!-- end Col-9 -->
        
                            </div>
        
                        </div><!-- End row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% include './modal.html' %}

              
                
            </div>