{% extends 'dashboard/auth/auth_base.html' %}
{% load static %}
{% block content %}

 <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <a href="index.html" class="d-block auth-logo">
                                            <img src="{% static '/dashboard/assets/images/logo-sm.svg' %}" alt="" height="28"> <span class="logo-txt">Bevs</span>
                                        </a>
                                    </div>
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">Register Account</h5>
                                            <p class="text-muted mt-2">Get your free Bevs account now.</p>
                                        </div>
                                        {% comment %} messages {% endcomment %}
                                        {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }} alert alert-danger "{% endif %}>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% comment %} messages {% endcomment %}
                                        <form class="needs-validation mt-4 pt-2" method="POST" action="{% url 'authentification:sign_up' %}">
                                            {% csrf_token %}
                                            <div class="form-floating form-floating-custom mb-4">
                                                 {{form.username}}
                                                <div class="invalid-feedback">
                                                    Please Enter Username
                                                </div> 
                                                <label for="input-email">Username</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               {{form.first_name}}
                                                <div class="invalid-feedback">
                                                    Please Enter First Name
                                                </div> 
                                                <label for="input-username">First Name</label>
                                                <div class="form-floating-icon">
                                                   <i data-feather="users"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               {{form.last_name}}
                                                <div class="invalid-feedback">
                                                    Please Enter Last Name
                                                </div> 
                                                <label for="input-password">Last Name</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               {{form.phone}}
                                                <div class="invalid-feedback">
                                                    Please Enter Phone Number
                                                </div> 
                                                <label for="input-password">Phone Number</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               <select name="type" class="form-control" id="cars">
                                                    <option value="Student">Student</option>
                                                    <option value="Committee">Committee</option>
                                                   
                                                </select>
                                              
                                                <label for="input-password">User Type</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>

                                             <div class="form-floating form-floating-custom mb-4">
                                               <select name="department" class="form-control" id="cars">
                                                    <option value="Student">Student</option>
                                                    <option value="Academic">Academic</option>
                                                    <option value="Finance">Finance</option>
                                                    <option value="Accomodation">Accomodation</option>
                                                    <option value="Health">Health</option>
                                                    <option value="Catering">Catering</option>
                                                    <option value="Environment">Environment</option>
                                                    <option value="Student's Welfare">Student's Welfare</option>
                                                    <option value="Entertainment">Entertainment</option>
                                                   
                                                </select>
                                                
                                                <label for="input-password">User Department</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               {{form.email}}
                                                <div class="invalid-feedback">
                                                    Please Enter User Email
                                                </div> 
                                                <label for="input-password">Email</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>

                                            <div class="form-floating form-floating-custom mb-4">
                                               {{form.password}}
                                                <div class="invalid-feedback">
                                                    Please Enter User Password
                                                </div> 
                                                <label for="input-password">Password</label>
                                                <div class="form-floating-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                         
                                            <div class="mb-3">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Register</button>
                                            </div>
                                        </form>

                                       
                                        <div class="mt-5 text-center">
                                            <p class="text-muted mb-0">Already have an account ? <a href="{% url 'authentification:login' %}"
                                                    class="text-primary fw-semibold"> Login </a> </p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->
                     {% include 'auth_common.html' %}
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>




{% endblock %}