{% load static %}
<div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">All Complaint</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="#">Complaint</a></li>
                                            <li class="breadcrumb-item active">Complaint</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-sm-4">
                                                <div class="search-box me-2 mb-2 d-inline-block">
                                                   
                                                </div>
                                            </div>
                                            <!-- end col-->
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>University</th>
                                                        <th>Course</th>
                                                        <th>Reg No</th>
                                                        <th>Department</th>
                                                        <th>Status</th>
                                                        
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if all_complaints %}
                                                {% for all in all_complaints  %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input class="form-check-input" type="checkbox" id="customerlistcheck01">
                                                                <label class="form-check-label" for="customerlistcheck01"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="{{all.get_absolute_url_committee}}">{{all.name}}</a>


                                                        </td>
                                                        <td>
                                                            {{all.email}}
                                                        </td>
                                                        
                                                        <td>{{all.university}}</td>
                                                        <td>{{all.course}}</td>
                                                        <td>{{all.reg_no}}</td>


                                                        <td>{{all.department}}</td>
                                                        <td>


                                                        {% if all.submitted == True %}
                                                        {% if all.reviewed == True %}
                                                        <button type="button" class="btn btn-success">Reviewed</button>

                                                        {% elif all.reviewed == False %}
                                                        
                                                        <button type="button" class="btn btn-primary">Submitted</button>
                                                        {% endif %}
                                                        
                                                                                                            

                                                        {% endif %}
                                                        </td>
                                                        
                                                    </tr>

                                                {% endfor %}
                                                

                                                {% endif %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination pagination-rounded justify-content-end mb-2">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page